doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .main_wrapper
      .header
        .header_logo wda-soft.com
        .header_item_container
          .header_item HOW?
          .header_item.item_disabled HTML
          .header_item.item_disabled CSS
          .header_item.item_disabled JS
          .header_item.item_disabled PHP

      .main_container
        .articles
          .article_header HOW?
          .row
            .social
              img.social_icon(src="assets/img/facebook.svg", alt="facebook")
              img.social_icon(src="assets/img/instagram.svg", alt="instagram")
              img.social_icon(src="assets/img/youtube.svg", alt="youtube")
              img.social_icon(src="assets/img/twitter.svg", alt="twitter")
              img.social_icon(src="assets/img/fiverr.svg", alt="fiverr")
              img.social_icon(src="assets/img/skype.svg", alt="skype")
            .left_area.col.s12.l1 pro
            .middle_area.col.s12.l7
              .row
                .article_container.col.s12
                  .article_head
                    .fancy_cover
                      .fancy_topic ‹ HOW ›
                      .fancy_right
                  .article_body
                    .article_body_title
                      .outer_part_title GIT COMMANDS
                      .outer_part_left
                      .outer_part_right
                    .article_body_padding
                      .article_body_desc
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                      .response_section
                        a(href="/how_git.html").btn.float_left Read More>>
                        .comments
                          .comments_left
                            img.comments_like(src="assets/img/thumb-up.svg", alt="like")
                            .comments_like_number 10
                          .comments_right
                            img.comments_dislike(src="assets/img/thumb-down.svg", alt="like")
                            .comments_dislike_number 0

                .article_container.col.s12
                  .article_head
                    .fancy_cover
                      .fancy_topic ‹-HOW-›
                      .fancy_right
                  .article_body
                    .article_body_title 
                      | TITLE HEADING
                      .outer_part_left
                      .outer_part_right
                    .article_body_padding
                      .article_body_desc
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                      .response_section
                        .btn.float_left Read More>>
                        .comments
                          .comments_left
                            img.comments_like(src="assets/img/thumb-up.svg", alt="like")
                            .comments_like_number 10
                          .comments_right
                            img.comments_dislike(src="assets/img/thumb-down.svg", alt="like")
                            .comments_dislike_number 0

                .article_container.col.s12
                  .article_head
                    .fancy_cover
                      .fancy_topic ‹-HOW-›
                      .fancy_right
                  .article_body
                    .article_body_title 
                      | TITLE HEADING
                      .outer_part_left
                      .outer_part_right
                    .article_body_padding
                      .article_body_desc
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                      .response_section
                        .btn.float_left Read More>>
                        .comments
                          .comments_left
                            img.comments_like(src="assets/img/thumb-up.svg", alt="like")
                            .comments_like_number 10
                          .comments_right
                            img.comments_dislike(src="assets/img/thumb-down.svg", alt="like")
                            .comments_dislike_number 0


                .article_container.col.s12
                  .article_head
                    .fancy_cover
                      .fancy_topic ‹-HOW-›
                      .fancy_right
                  .article_body
                    .article_body_title 
                      | TITLE HEADING
                      .outer_part_left
                      .outer_part_right
                    .article_body_padding
                      .article_body_desc
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                      .response_section
                        .btn.float_left Read More>>
                        .comments
                          .comments_left
                            img.comments_like(src="assets/img/thumb-up.svg", alt="like")
                            .comments_like_number 10
                          .comments_right
                            img.comments_dislike(src="assets/img/thumb-down.svg", alt="like")
                            .comments_dislike_number 0


            .right_area.col.s12.l4
              .message_container
                .message_head
                  //- img.message_head_img(src="assets/img/profile1.jpg", alt="snowflake")
                .message_body
                  .message_body_title TITLE HEADING
                  .message_body_desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                  .btn Read More>>
              .popular
                .popular_container
                  .popular_item_first Popular Posts
                  .popular_item
                    .popular_item_content
                      img.popular_item_img(src="assets/img/temp1.jpg", alt="snowflake")
                      .popular_item_title
                        .popular_item_title_f HOW?
                        .popular_item_title_s Css buttons
                  .popular_item
                    .popular_item_content
                      img.popular_item_img(src="assets/img/temp2.jpg", alt="snowflake")
                      .popular_item_title
                        .popular_item_title_f HOW?
                        .popular_item_title_s Css animations
                  .popular_item
                    .popular_item_content
                      img.popular_item_img(src="assets/img/temp3.jpg", alt="snowflake")
                      .popular_item_title
                        .popular_item_title_f HTML/CSS
                        .popular_item_title_s flex box
                  .popular_item
                    .popular_item_content
                      img.popular_item_img(src="assets/img/temp1.jpg", alt="snowflake")
                      .popular_item_title
                        .popular_item_title_f HTML/CSS
                        .popular_item_title_s Perfect center
              .subscribe
                .subscribe_container
                  .subscribe_head
                    //- img.message_head_img(src="assets/img/profile1.jpg", alt="snowflake")
                  .subscribe_body
                    .subscribe_body_title Subscribe Us
                    .subscribe_body_desc
                      form.subscribe-form
                        .subscribe-form_group
                          input.subscribe-form_group_input(type="text" placeholder="Your Email Address")
                      .btn.subscribe_btn Subscribe
    .footer
      .f-rights
        | Copyright ©2018 All rights reserved
      .f-logo
        | wda-soft.com