doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .main_wrapper
      .header
        .header_logo wda-soft.com
        .header_item_container
          .header_item HOW?
          .header_item.item_disabled HTML
          .header_item.item_disabled CSS
          .header_item.item_disabled JS
          .header_item.item_disabled PHP

      .main_container
        .articles
          .row
            .left.col.s12.l8
              .row
                .article_container.col.s12
                  .article_head
                    img.article_head_img(src="assets/img/woods.jpg", alt="snowflake")
                  .article_body
                    .article_body_title TITLE HEADING
                    .article_body_desc
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                    .btn Read More>>

                .article_container.col.s12
                  .article_head
                    img.article_head_img(src="assets/img/woods.jpg", alt="snowflake")
                  .article_body
                    .article_body_title TITLE HEADING
                    .article_body_desc
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                    .btn Read More>>

                .article_container.col.s12
                  .article_head
                    img.article_head_img(src="assets/img/woods.jpg", alt="snowflake")
                  .article_body
                    .article_body_title TITLE HEADING
                    .article_body_desc
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque natus quas fugiat ducimus, obcaecati magnam porro soluta reprehenderit a!
                    .btn Read More>>

            .right_container.col.s12.l4
              .side_body
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptas.