.footer
  height: auto
  background: $footer-back
  color: $footer-font
  font-weight: 400
  text-align: left
  padding: 25px 0

.f-rights
  text-align: center
  font-size: 16px
  color: $f-rights-font
  // height: 60px
  // line-height: 60px

.f-logo
  text-align: center
  font-size: 18px
  // height: 60px
  // line-height: 60px  