
.middle_area
  padding: 0
  +LARGE
    padding: 0 16px

.article
  &_container
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)
    height: auto
    background: $common-secondary-back
    margin-bottom: 48px
    border: 1px solid $common-border
    border-radius: 11px 11px 0 11px
  &_head_img
    width: 100%
    height: auto
    margin: 0
  &_body
    &_padding
      padding: 0 16px 16px 16px
    &_title
      position: relative
      height: $band-height
      line-height: $band-height
      font-size: 32px
      font-weight: 600
      margin-top: 16px
      border-top: 1px solid $band-back-border
      border-bottom: 1px solid $band-back-border
      text-align: center
      color: $band-color
      background-color: $band-back
      text-shadow: 0px -1px 0px rgba(0,0,0,.5)
      // padding: 5px 0
      // font-size: 32px
      // line-height: 35px
    &_desc
      margin: 20px 0
      font-size: 20px
      color: $article-body-desc-color
  &_header
    height: 60px
    line-height: 60px
    text-align: center
    font-size: 36px
    margin-bottom: 16px

.response_section
  +clearfix
.comments
  float: right
  &_left
    display: inline-block
    position: relative
    right: 10px
  &_right
    display: inline-block
    position: relative
    top: 7px
  &_like
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -5px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px
  &_dislike
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -12px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px


.fancy
  &_cover
    width: 100%
    height: 50px
    overflow: hidden
    position: relative
    border-radius: 10px 10px 0 0
  &_right
    width: 100%
    height: 50px
    background: $fancy-right-back
    position: absolute
    left: 50%
    top: 0
    transform: skew(45deg)
    border-radius: 0 0 0 10px
    // +MEDIUM
    //   left: 60%
  &_topic
    width: 50%
    text-align: center
    line-height: 50px
    color: $fancy-topic-color
    font-weight: 900
    font-size: 32px
    // +MEDIUM
    //   width: 60%

.outer_part_left
  position: absolute
  width: 8px
  height: $band-height
  background: $band-back
  border-top: 1px solid $band-back-border
  border-left: 1px solid $band-back-border
  border-bottom: 1px solid $band-back-border
  left: -8px
  top: $band-top
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.15)
  &::after
    content: ""
    position: absolute
    top: $band-triangle-from-top
    left: -1px
    width: 0
    height: 0
    border-top: 8px solid $band-back-triangle
    border-left: 8px solid transparent

.outer_part_right
  position: absolute
  width: 8px
  height: $band-height
  background: $band-back
  border-top: 1px solid $band-back-border
  border-right: 1px solid $band-back-border
  border-bottom: 1px solid $band-back-border
  right: -8px
  top: $band-top
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.15)
  &::after
    content: ""
    position: absolute
    top: $band-triangle-from-top
    right: -1px
    width: 0
    height: 0
    border-top: 8px solid $band-back-triangle
    border-right: 8px solid transparent

.outer_part_title
  height: 100%
  // background: red
  // border-top: 1px dashed #fff
  // border-bottom: 1px dashed #fff

.chat
  width: 60px
  height: 60px
  position: fixed
  background: $chat-button
  right: 5px
  bottom: 5px
  border-radius: 100%
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.9)
  border: 4px solid #fff
  cursor: pointer
  transition: all .2s ease
  z-index: 5
  +tap_highlight_issue
  &_img
    width: 35px
    height: 35px
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-image: url("../img/chat.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: all .2s ease
  &_box
    display: none
    width: 100vw
    height: 100vh
    position: fixed
    right: 0
    bottom: 0
    background: red
    z-index: 2
    +MEDIUM
      width: 500px
      height: 70vh
  &_sub1
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: 15px
    bottom: 15px
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
  &_sub2
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: 15px
    bottom: 15px
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
  &_sub3
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: 15px
    bottom: 15px
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
.chat_sub_img
  width: $sub_img_size
  height: $sub_img_size
  display: block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

.half_circle
  width: 0
  height: 0
  position: fixed
  background: $half_circle-back
  right: -10px
  bottom: -10px
  border-radius: 100%
  cursor: pointer
  transition: all .4s ease
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
  border: 4px solid $half_circle-border
  +tap_highlight_issue

.animate_sub1
  right: 80px
  bottom: 5px
.animate_sub2
  right: 60px
  bottom: 60px
.animate_sub3
  right: 5px
  bottom: 80px
.animate_chat
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
  // background: $chat-button-after
.animate_chat_image_before
  width: 25px
  height: 25px
.animate_half_circle
  width: 300px
  height: 300px
  right: -150px
  bottom: -150px
