
.middle_area
  padding: 0
  +LARGE
    padding: 0 16px

.article
  &_container
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)
    height: auto
    background: $common-secondary-back
    margin-bottom: 48px
    border: 1px solid $common-border
    border-radius: 11px 11px 0 11px
  &_head_img
    width: 100%
    height: auto
    margin: 0
  &_body
    &_padding
      padding: 0 16px 16px 16px
      +MEDIUM
        padding: 0 32px 32px 32px
    &_title
      position: relative
      height: $band-height
      line-height: $band-height
      font-size: 32px
      font-weight: 600
      margin-top: 16px
      border-top: 1px solid $band-back-border
      border-bottom: 1px solid $band-back-border
      text-align: center
      color: $band-color
      background-color: $band-back
      text-shadow: 0px -1px 0px rgba(0,0,0,.5)
      // padding: 5px 0
      // font-size: 32px
      // line-height: 35px
    &_desc
      margin: 20px 0
      font-size: 20px
      color: $article-body-desc-color
    &_desc_content
      text-align: left
      +MEDIUM
        text-align: justify
        text-justify: inter-word
    &_desc_mobile
      display: block
      +MEDIUM
        display: none
    &_desc_large
      display: none
      +MEDIUM
        display: block
    &_desc_img
      max-width: 300px
      height: auto
      display: block
      margin: auto
  &_header
    height: 60px
    line-height: 60px
    text-align: center
    font-size: 36px
    margin-bottom: 16px

.response_section
  +clearfix
.comments
  float: right
  &_left
    display: inline-block
    position: relative
    right: 10px
  &_right
    display: inline-block
    position: relative
    top: 7px
  &_like
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -5px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px
  &_dislike
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -12px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px


.fancy
  &_cover
    width: 100%
    height: 50px
    overflow: hidden
    position: relative
    border-radius: 10px 10px 0 0
  &_right
    width: 100%
    height: 50px
    background: $fancy-right-back
    position: absolute
    left: 50%
    top: 0
    transform: skew(45deg)
    border-radius: 0 0 0 10px
    // +MEDIUM
    //   left: 60%
  &_topic
    width: 50%
    text-align: center
    line-height: 50px
    color: $fancy-topic-color
    font-weight: 900
    font-size: 32px
    // +MEDIUM
    //   width: 60%

.outer_part_left
  position: absolute
  width: 8px
  height: $band-height
  background: $band-back
  border-top: 1px solid $band-back-border
  border-left: 1px solid $band-back-border
  border-bottom: 1px solid $band-back-border
  left: -8px
  top: $band-top
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.15)
  &::after
    content: ""
    position: absolute
    top: $band-triangle-from-top
    left: -1px
    width: 0
    height: 0
    border-top: 8px solid $band-back-triangle
    border-left: 8px solid transparent

.outer_part_right
  position: absolute
  width: 8px
  height: $band-height
  background: $band-back
  border-top: 1px solid $band-back-border
  border-right: 1px solid $band-back-border
  border-bottom: 1px solid $band-back-border
  right: -8px
  top: $band-top
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.15)
  &::after
    content: ""
    position: absolute
    top: $band-triangle-from-top
    right: -1px
    width: 0
    height: 0
    border-top: 8px solid $band-back-triangle
    border-right: 8px solid transparent

.outer_part_title
  height: 100%
  // background: red
  // border-top: 1px dashed #fff
  // border-bottom: 1px dashed #fff

// Mobile chat icon---------------------------
.chat
  width: $chat_width
  height: $chat_height
  position: fixed
  background: $chat-button
  right: $chat_right
  bottom: $chat_bottom
  border-radius: 100%
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
  border: 4px solid #fff
  cursor: pointer
  transition: all .2s ease
  z-index: 6
  +tap_highlight_issue
  +MEDIUM
      display: none
  &_img
    width: 35px
    height: 35px
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-image: url("../img/chat.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: all .2s ease

  &_sub1
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: $sub_right
    bottom: $sub_bottom
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    z-index: 5
    +tap_highlight_issue
    +MEDIUM
      display: none
  &_sub2
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: $sub_right
    bottom: $sub_bottom
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    z-index: 5
    +tap_highlight_issue
    +MEDIUM
      display: none
  &_sub3
    width: $sub_size
    height: $sub_size
    position: fixed
    background: $chat-button-after
    right: $sub_right
    bottom: $sub_bottom
    border-radius: 100%
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    z-index: 5
    +tap_highlight_issue
    +MEDIUM
      display: none
  &_sub_img
    width: $sub_img_size
    height: $sub_img_size
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.half_circle
  width: 0
  height: 0
  position: fixed
  background: $half_circle-back
  right: -10px
  bottom: -10px
  border-radius: 100%
  cursor: pointer
  transition: all .4s ease
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
  border: 4px solid $half_circle-border
  z-index: 5
  +tap_highlight_issue
  +MEDIUM
    display: none

// Desktop chat icon---------------------------
.desktop_chat
  display: none
  width: $desktop_chat_width
  height: $desktop_chat_height
  position: fixed
  background: $chat-button
  right: $desktop_chat_right
  bottom: $desktop_chat_bottom
  border-radius: 100%
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
  border: 4px solid #fff
  cursor: pointer
  transition: all .2s ease
  z-index: 5
  +tap_highlight_issue
  +MEDIUM
    display: block
  &_img
    width: 35px
    height: 35px
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-image: url("../img/chat.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: all .2s ease
  &_sub1
    width: $desktop_sub_size
    height: $desktop_sub_size
    display: none
    position: fixed
    background: $chat-button-after
    right: $desktop_sub_right
    bottom: $desktop_sub_bottom
    border-radius: 100%
    box-shadow: none
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
    +MEDIUM
      display: block
  &_sub2
    width: $desktop_sub_size
    height: $desktop_sub_size
    display: none
    position: fixed
    background: $chat-button-after
    right: $desktop_sub_right
    bottom: $desktop_sub_bottom
    border-radius: 100%
    box-shadow: none
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
    +MEDIUM
      display: block
  &_sub3
    width: $desktop_sub_size
    height: $desktop_sub_size
    display: none
    position: fixed
    background: $chat-button-after
    right: $desktop_sub_right
    bottom: $desktop_sub_bottom
    border-radius: 100%
    box-shadow: none
    border: 4px solid #fff
    transition: all .5s ease
    cursor: pointer
    +tap_highlight_issue
    +MEDIUM
      display: block
  &_sub_img
    width: $desktop_sub_img_size
    height: $desktop_sub_img_size
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

// Mobile Animation chat icon---------------------------
.article_links
  color: $article_links
.article_bold
  font-weight: 600
.animate_sub1
  right: 80px
  bottom: 5px
.animate_sub2
  right: 60px
  bottom: 60px
.animate_sub3
  right: 5px
  bottom: 80px
.animate_chat_image_before
  width: 20px
  height: 20px
  background-image: url("../img/cross.svg")
  // width: 25px
  // height: 25px
.animate_half_circle
  width: 300px
  height: 300px
  right: -150px
  bottom: -150px

// Mobile Animation chat icon---------------------------

.animate_desktop_sub1
  right: 70px
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
.animate_desktop_sub2
  right: 135px
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
.animate_desktop_sub3
  right: 200px
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5)
.animate_desktop_chat_image_before
  width: 20px
  height: 20px
  background-image: url("../img/cross.svg")

// Modal---------------------------
.modal
  background: rgba(0,0,0,0.9)
  position: fixed
  height: 150%
  width: 100%
  z-index: 5
  display: none
  +noAction
  +MEDIUM
    display: none

.chat_box
  width: 60px
  height: 60px
  position: fixed
  right: $desktop_chat_right
  bottom: $desktop_chat_bottom
  background: #F1F1F1
  border: 4px solid #ffffff
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5)
  border-radius: 100%
  transition: all .2s ease-in-out
  z-index: 6
  overflow: hidden
  +noAction
  +MEDIUM
    width: 500px
    height: 70vh
    display: none

.animation_chat_box
  width: 90vw
  height: 80vh
  border-radius: 20px 20px 12px 20px
  right: $animation_chat_box_right
  bottom: $animation_chat_box_bottom

.animate_modal
  display: block

.chat_form
  display: none
  transition: all .5s ease
  width: 100%
  height: 100%
  padding: 16px 8px 8px 8px
  +noAction
  &_box
    height: calc(100% - 50px)
    width: 100%
    background: #fff
    border-radius: 20px
    overflow-y: scroll
    // +noAction
  &_input_cover
    padding-right: 40px
  &_input
    width: calc(100% - 40px)
    display: block
    margin: 0 auto
    padding: 8px
    font-size: 16px
    border: none
    border-bottom: 2px dotted #0277BD
    background-color: #F1F1F1
    outline: none
.animation_chat_form
  display: block

// I am the reciever
.reciever_avatar
  &_box
    width: 100%
    height: auto
    padding-top: 10px
    padding-left: 5px
    padding-right: 20px
    display: block
    +clearfix
  &_img
    width: 40px
    height: 40px
    float: right
    position: relative
    top: 5px
    border-radius: 100%
  &_message
    display: inline-block
    width: calc(100% - 40px)
    text-align: right
    padding: 5px 5px
    float: right
    color: $black
    font-weight: 600

.sender_avatar
  &_box
    width: 100%
    height: auto
    padding-top: 10px
    padding-left: 10px
    padding-right: 5px
    display: block
    +clearfix
  &_img
    width: 40px
    height: 40px
    float: left
    position: relative
    top: 5px
    // border-radius: 100%
  &_message
    display: inline-block
    width: calc(100% - 40px)
    text-align: left
    padding: 5px 5px
    float: left
    color: $navy

.hide_me
  display: none
  width: 0
  height: 0
