
.middle_area
  padding: 0
  +LARGE
    padding: 0 16px

.article
  &_container
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)
    height: auto
    background: $common-secondary-back
    margin-bottom: 48px
    border: 1px solid $common-border
  &_head_img
    width: 100%
    height: auto
  &_body
    padding: 16px
    &_title
      text-align: left
      font-size: 32px
      font-weight: 600
    &_desc
      margin: 20px 0
      font-size: 20px
  &_header
    height: 60px
    line-height: 60px
    text-align: center
    font-size: 36px
    margin-bottom: 16px

.response_section
  +clearfix
.comments
  float: right
  &_left
    display: inline-block
    position: relative
    right: 10px
  &_right
    display: inline-block
    position: relative
    top: 7px
  &_like
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -5px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px
  &_dislike
    width: 30px
    height: 30px
    &_number
      display: inline-block
      position: relative
      top: -12px
      background: $comment-back
      color: $comment-font
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 30px
