.topic
    &_header
        text-align: center
        font-size: 32px
    &_body
        max-width: 500px
        margin: 0 auto
    &_what
        font-size: 18px
        margin: auto
    &_code
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2)
        background-color: #fff
        padding: 8px 12px
        border-left: 4px solid #4CAF50
        word-wrap: break-word
        margin: 10px 0
        &_title
            font-weight: 600
            font-size: 20px
            margin: 10px 0




.icon
    &_git
        width: 60px
        height: 60px
        margin-bottom: -0.5em

.word_link
    color: $link